# COLMAP Outputs
**/output/
**/dense/
**/sparse/
*.db
*.db-shm
*.db-wal

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

*database.db